<a href="https://colab.research.google.com/github/thasliya0404/class-activity/blob/main/Database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

conn = sqlite3.connect("students.db")
cursor = conn.cursor()

In [ ]:
from typing import Text
cursor.execute("""CREATE TABLE IF NOT EXISTS students(
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  name TEXT,
  age INTEGER,
  gender TEXT,
  grade TEXT
  )
""")

In [ ]:
#insert into tablename (column1, column2, column3, ...)
#values(value1, value2, value3, ...)

In [ ]:
cursor.execute("insert into students(id, 'name', age, 'gender', 'grade')values (8, 'AAA', 18, 'F', 'A+')")

In [ ]:
cursor.execute("insert into students values (1, 'AAA', 18, 'F', 'A+')")

In [ ]:
cursor.execute("insert into students values (2, 'AAAA', 20, 'M', 'A+')")

In [ ]:
cursor.execute("insert into students values (3, 'Thasli', 24, 'F', 'A+')")

In [ ]:
cursor.execute("insert into students values (4, 'liya', 20, 'F', 'A')")

In [ ]:
cursor.execute("insert into students values (5, 'yasthan', 17, 'M', 'B+')")

In [ ]:
cursor.execute("insert into students ('name', age, 'gender', 'grade')values ('iza', 18, 'F', 'A')")

In [ ]:
cursor.execute("insert into students ('name', age, 'gender', 'grade')values ('iza', 18, 'F', 'A'),('emi', 18, 'F', 'A')")

In [ ]:
#select * from tablename

In [ ]:
conn.commit()

In [ ]:
cursor.execute("select * from students")

In [ ]:
print(cursor.fetchall())

[(1, 'AAA', 18, 'F', 'A+'), (2, 'AAAA', 20, 'M', 'A+'), (3, 'Thasli', 24, 'F', 'A+'), (4, 'liya', 20, 'F', 'A'), (5, 'yasthan', 17, 'M', 'B+'), (8, 'AAA', 18, 'F', 'A+'), (9, 'iza', 18, 'F', 'A'), (10, 'iza', 18, 'F', 'A'), (11, 'emi', 18, 'F', 'A')]

In [ ]:
rows=cursor.fetchall()

In [ ]:
for row in rows:
  print("id:",row[0],"name:",row[1],"age:",row[2],"gender:",row[3],"grade:",row[4])

In [ ]:
cursor.execute("select * from students where grade = 'A+'")

In [ ]:
print(cursor.fetchall())

[(1, 'AAA', 18, 'F', 'A+'), (2, 'AAAA', 20, 'M', 'A+'), (3, 'Thasli', 24, 'F', 'A+'), (8, 'AAA', 18, 'F', 'A+')]

In [ ]:
cursor.execute("SELECT id,name from students where grade = 'A+'")

In [ ]:
print(cursor.fetchall())

[(1, 'AAA'), (2, 'AAAA'), (3, 'Thasli'), (8, 'AAA')]

In [ ]:
cursor.execute("SELECT * from students order by age desc")
print(cursor.fetchall())

[(3, 'Thasli', 24, 'F', 'A+'), (2, 'AAAA', 20, 'M', 'A+'), (4, 'liya', 20, 'F', 'A'), (1, 'AAA', 18, 'F', 'A+'), (8, 'AAA', 18, 'F', 'A+'), (9, 'iza', 18, 'F', 'A'), (10, 'iza', 18, 'F', 'A'), (11, 'emi', 18, 'F', 'A'), (5, 'yasthan', 17, 'M', 'B+')]

In [ ]:
cursor.execute("SELECT * from students order by grade desc")
print(cursor.fetchall())

[(5, 'yasthan', 17, 'M', 'B+'), (1, 'AAA', 18, 'F', 'A+'), (2, 'AAAA', 20, 'M', 'A+'), (3, 'Thasli', 24, 'F', 'A+'), (8, 'AAA', 18, 'F', 'A+'), (4, 'liya', 20, 'F', 'A'), (9, 'iza', 18, 'F', 'A'), (10, 'iza', 18, 'F', 'A'), (11, 'emi', 18, 'F', 'A')]

In [ ]:
cursor.execute("SELECT count(*) from students where grade = 'A+'")
print(cursor.fetchall())

[(4,)]

In [ ]:
cursor.execute("SELECT avg(age) from students")
print(cursor.fetchall())

[(19.0,)]

In [ ]:
cursor.execute("SELECT * from students order by age desc limit 3")
print(cursor.fetchall())

[(3, 'Thasli', 24, 'F', 'A+'), (2, 'AAAA', 20, 'M', 'A+'), (4, 'liya', 20, 'F', 'A')]

In [ ]:
cursor.execute("SELECT age,count(*) from students group by age")
print(cursor.fetchall())

[(17, 1), (18, 5), (20, 2), (24, 1)]

In [ ]:
cursor.execute("alter table students add column mark integer")

In [ ]:
cursor.execute("UPDATE students set mark=90 where id =1")

In [ ]:
cursor.execute("SELECT * from students")
print(cursor.fetchall())

[(1, 'AAA', 18, 'F', 'A+', 90), (2, 'AAAA', 20, 'M', 'A+', None), (3, 'Thasli', 24, 'F', 'A+', None), (4, 'liya', 20, 'F', 'A', None), (5, 'yasthan', 17, 'M', 'B+', None), (8, 'AAA', 18, 'F', 'A+', None), (9, 'iza', 18, 'F', 'A', None), (10, 'iza', 18, 'F', 'A', None), (11, 'emi', 18, 'F', 'A', None)]

In [ ]:
conn.commit()

In [ ]:
cursor.execute("DELETE from students where id = 1")

In [ ]:
cursor.execute("SELECT * from students")
print(cursor.fetchall())

[(2, 'AAAA', 20, 'M', 'A+', None), (3, 'Thasli', 24, 'F', 'A+', None), (4, 'liya', 20, 'F', 'A', None), (5, 'yasthan', 17, 'M', 'B+', None), (8, 'AAA', 18, 'F', 'A+', None), (9, 'iza', 18, 'F', 'A', None), (10, 'iza', 18, 'F', 'A', None), (11, 'emi', 18, 'F', 'A', None)]

In [ ]:
cursor.execute("""CREATE TABLE IF NOT EXISTS library(
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  book_name TEXT,
  author TEXT,
  price INTEGER
  )
""")

In [ ]:
cursor.execute("insert into library ('book_name', 'author', 'price')values('topology', 'apostol', 700), ('complex', 'conway', 800), ('merin autobiography', 'merin', 1000)")

In [ ]:
conn.commit()

In [ ]:
cursor.execute("select * from library")

In [ ]:
print(cursor.fetchall())

[(1, 'topology', 'apostol', 700), (2, 'complex', 'conway', 800), (3, 'merin autobiography', 'merin', 1000)]

In [ ]:
rows=cursor.fetchall()

In [ ]:
for row in rows:
  print("id:",row[0],"book_name:",row[1],"author:",row[2],"price:",row[3])

id: 1 book_name: topology author: apostol price: 700
id: 2 book_name: complex author: conway price: 800
id: 3 book_name: merin autobiography author: merin price: 1000

In [ ]:
cursor.execute("alter table library add column year integer")

In [ ]:
cursor.execute("UPDATE library set year=2005 where id =1")

In [ ]:
cursor.execute("UPDATE library set year=2001 where id =2")

In [ ]:
cursor.execute("UPDATE library set year=2025 where id =3")

In [ ]:
cursor.execute("SELECT * from library")
print(cursor.fetchall())

[(1, 'topology', 'apostol', 700, 2005), (2, 'complex', 'conway', 800, 2001), (3, 'merin autobiography', 'merin', 1000, 2025)]

In [ ]:
cursor.execute("SELECT * from library order by year desc")
print(cursor.fetchall())

[(3, 'merin autobiography', 'merin', 1000, 2025), (1, 'topology', 'apostol', 700, 2005), (2, 'complex', 'conway', 800, 2001)]

In [ ]:
cursor.execute("SELECT * from library order by price desc")
print(cursor.fetchall())

[(3, 'merin autobiography', 'merin', 1000, 2025), (2, 'complex', 'conway', 800, 2001), (1, 'topology', 'apostol', 700, 2005)]

In [ ]:
cursor.execute("alter table library add row")

In [ ]:
cursor.execute("insert into library ('book_name', 'author', 'price', 'year')values('adujeevitham', 'benyamin', 600, 2010)")

In [ ]:
cursor.execute("SELECT * from library")
print(cursor.fetchall())

[(1, 'topology', 'apostol', 700, 2005, None), (2, 'complex', 'conway', 800, 2001, None), (3, 'merin autobiography', 'merin', 1000, 2025, None), (4, 'adujeevitham', 'benyamin', 600, 2010, None)]

In [ ]:
#innerjoin An INNER JOIN in SQL is used to combine rows from two or more tables
# based on a related column between them.
#It returns only the rows that have matching values in both tables involved in the join.

#leftjoin (1st priority is table,display matching) A SQL LEFT JOIN,
#also known as a LEFT OUTER JOIN, is a type of join operation in SQL
#that returns all records from the left table
#(the first table specified in the FROM clause)
#and the matching records from the right table

#A RIGHT JOIN (also known as RIGHT OUTER JOIN) in SQL is a type of
#join operation used to combine rows from two tables based on a related column.
#It retrieves all records from the right table and
#the matching records from the left table.