<a href="https://colab.research.google.com/github/thasliya0404/class-activity/blob/main/data_engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#data engineering
#preparing,peocessing,and moving analysis

**stages ETL/ELT**


**extract** E :
collect raw data from sources


**transform** T :
clean format validate enrich the data
handling missind values


**load** L :
store data in to a target system like a database

real life eg


e-commerce site(amazon)


E : order data from app,


T : clean duplicate order,fix missing info


L : store into central data for sales report

components


ingestion : collect data


processing : clean transform enrich


storage : save


output visualization dashboard report

python


pandas numpy or schedule

work flow automation

data is always changing(new transaction,new user,new logs)
companies need fresh and clean data for dashbpard

In [ ]:
import pandas as pd
#load dataset
data = pd.read_csv('/content/irisexcel (1) (1) (1).csv')
#check for issues
print(data.info())
print(data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
#remove duplicates
data = data.drop_duplicates()
print(data)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[147 rows x 5 columns]

In [ ]:
#handle missing values(if any)
data = data.fillna (method="ffill")
print(data)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[147 rows x 5 columns]

/tmp/ipython-input-743367079.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data = data.fillna (method="ffill")

In [ ]:
print('cleaned dataset shape:',data.shape)

cleaned dataset shape: (147, 5)

In [ ]:
#load dataset
data1 = pd.read_csv('/content/irisexcel (1) (1) (2).csv')

In [ ]:
#check for issues
print(data1.info())
print(data1.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  152 non-null    float64
 1   sepal_width   152 non-null    float64
 2   petal_length  151 non-null    float64
 3   petal_width   152 non-null    float64
 4   species       152 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.1+ KB
None
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
#remove duplicates
data1 = data1.drop_duplicates()
print(data1)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[147 rows x 5 columns]

In [ ]:
#handle missing values(if any)
data1 = data1.fillna (method="ffill")
print(data1)
#check filling missing values
print(data1.info())
print(data1.head())

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[147 rows x 5 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 147 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  147 non-null    float64
 1   sepal_width   147 non-null    float64
 2   petal_length  147 non-null    float64
 3   petal_width   147 non-null    float64
 4   species       147 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.9+ KB
None
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

/tmp/ipython-input-1219504050.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data1 = data1.fillna (method="ffill")

In [ ]:
print('cleaned dataset shape:',data1.shape)

cleaned dataset shape: (147, 5)

In [ ]:
 data3 = pd.read_csv('/content/irisexcel (1) (1) (3).csv')
#check for issues
print(data3.info())
print(data3.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  148 non-null    float64
 1   sepal_width   148 non-null    float64
 2   petal_length  147 non-null    float64
 3   petal_width   149 non-null    float64
 4   species       149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB
None
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
#remove duplicates
data3 = data3.drop_duplicates()
print(data3)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
144           6.3          2.5           5.0          1.9  virginica
145           6.5          3.0           5.2          2.0  virginica
146           6.2          3.4           5.4          2.3  virginica
147           5.9          3.0           5.1          1.8  virginica
148           NaN          NaN           NaN          1.8  virginica

[146 rows x 5 columns]

In [ ]:
#handle missing values(if any)
data3 = data3.fillna (method="ffill")
print(data3)
#check filling missing values
print(data3.info())
print(data3.head())

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
144           6.3          2.5           5.0          1.9  virginica
145           6.5          3.0           5.2          2.0  virginica
146           6.2          3.4           5.4          2.3  virginica
147           5.9          3.0           5.1          1.8  virginica
148           5.9          3.0           5.1          1.8  virginica

[146 rows x 5 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 146 entries, 0 to 148
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  146 non-null    float64
 1   sepal_width   146 non-null    float64
 2   petal_length  146 non-null    float64
 3   petal_width   146 non-null    float64
 4   species       146 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.8+ KB
None
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

/tmp/ipython-input-2634179800.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data3 = data3.fillna (method="ffill")

In [ ]:
print('cleaned dataset shape:',data1.shape)

cleaned dataset shape: (147, 5)

In [ ]:
!pip install schedule

Requirement already satisfied: schedule in /usr/local/lib/python3.12/dist-packages (1.2.2)

In [ ]:
import schedule, time
def pipeline():
  data3 = pd.read_csv('/content/irisexcel (1) (1) (3).csv')
  data3 = data3.drop_duplicates()
  data3 = data3.fillna(method="ffill")
  print('Rows:', len(data3))
  print('Mean value:\n', data3.mean(numeric_only=True))
schedule.every(0.10).minutes.do(pipeline)
while True:
  schedule.run_pending()
  time.sleep(1)

/tmp/ipython-input-1553395772.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data3 = data3.fillna(method="ffill")

Rows: 146
Mean value:
 sepal_length    5.856463
sepal_width     3.055782
petal_length    3.780272
petal_width     1.208844
dtype: float64

/tmp/ipython-input-4241278945.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data3 = data3.fillna(method="ffill")
/tmp/ipython-input-1553395772.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data3 = data3.fillna(method="ffill")

Rows: 146
Mean value:
 sepal_length    5.842466
sepal_width     3.058904
petal_length    3.763014
petal_width     1.204110
dtype: float64
Rows: 146
Mean value:
 sepal_length    5.856463
sepal_width     3.055782
petal_length    3.780272
petal_width     1.208844
dtype: float64

/tmp/ipython-input-4241278945.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data3 = data3.fillna(method="ffill")
/tmp/ipython-input-1553395772.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data3 = data3.fillna(method="ffill")

Rows: 146
Mean value:
 sepal_length    5.842466
sepal_width     3.058904
petal_length    3.763014
petal_width     1.204110
dtype: float64
Rows: 146
Mean value:
 sepal_length    5.856463
sepal_width     3.055782
petal_length    3.780272
petal_width     1.208844
dtype: float64

KeyboardInterrupt:

In [ ]:
import random
names = ['thasli','souda','thanzi','thariq','rameesha','ashiq','abdullah','aiza','sainu','emin']
departments = ['IT','ECE','CS','IEEE','Civil']
data = []
for i in range(1,21):
  record = {
      'student_id' : i,
      'name' : random.choice(names),
      'age' : random.choice([20,21,22,23,None]),#missing values possible
      'department' : random.choice(departments + ['Civik']), #typo possibility
      'marks' : random.randint(30,100),
      'attendance' : random.choice([random.randint(70,100),None])#some missing
      }
  data.append(record)
df = pd.DataFrame(data)

#save
df.to_csv('students_random.csv',index=True)
print('random dirty dataset saved as students_random.csv')
print(df.head(10))

random dirty dataset saved as students_random.csv
   student_id      name   age department  marks  attendance
0           1    thariq   NaN         IT     72        87.0
1           2  rameesha  23.0       IEEE     36         NaN
2           3    thariq   NaN        ECE     55        78.0
3           4  rameesha  23.0        ECE     57        85.0
4           5     ashiq  20.0       IEEE     89        98.0
5           6      aiza  23.0        ECE     59        83.0
6           7    thasli  22.0         CS     65        74.0
7           8      emin  21.0       IEEE     41        91.0
8           9    thasli  23.0         CS     89        71.0
9          10  rameesha  20.0         IT     37        79.0

In [ ]:
#load dirty dataset
df = pd.read_csv('/content/students_random.csv')

In [ ]:
#drop dirty data
df = df.drop_duplicates()
#2.handle missing values
df['age'] = df['age'].fillna(df['age'].mean()) # Fill the missing age with mean
df['attendance'] = df['attendance'].fillna(df['attendance'].median()) # Fill the missing attendance with median
#3.fix typos in department
df['department'] = df['department'].replace({'Civik':'Civil'})
print('\n Cleaned data')
print(df.head(10))

 Cleaned data
   Unnamed: 0  student_id      name        age department  marks  attendance
0           0           1    thariq  21.666667         IT     72        87.0
1           1           2  rameesha  23.000000       IEEE     36        82.5
2           2           3    thariq  21.666667        ECE     55        78.0
3           3           4  rameesha  23.000000        ECE     57        85.0
4           4           5     ashiq  20.000000       IEEE     89        98.0
5           5           6      aiza  23.000000        ECE     59        83.0
6           6           7    thasli  22.000000         CS     65        74.0
7           7           8      emin  21.000000       IEEE     41        91.0
8           8           9    thasli  23.000000         CS     89        71.0
9           9          10  rameesha  20.000000         IT     37        79.0

In [ ]:
#4.automation rule = check low marks
if 'marks' in df.columns:
  low_marks = df[df['marks'] < 40]
  if not low_marks.empty:
    print('\n Warning! Students with marks below 40:')
    print(low_marks[['student_id','name','marks']])
  else:
    print('\n No failing students found.')
print('\n Cleaned Data')
print(df.head())

 Warning! Students with marks below 40:
    student_id      name  marks
1            2  rameesha     36
9           10  rameesha     37
10          11      aiza     34
19          20  abdullah     30

 Cleaned Data
   Unnamed: 0  student_id      name        age department  marks  attendance
0           0           1    thariq  21.666667         IT     72        87.0
1           1           2  rameesha  23.000000       IEEE     36        82.5
2           2           3    thariq  21.666667        ECE     55        78.0
3           3           4  rameesha  23.000000        ECE     57        85.0
4           4           5     ashiq  20.000000       IEEE     89        98.0