<a href="https://colab.research.google.com/github/thasliya0404/class-activity/blob/main/python_activities.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#make tea
print('How to make tea')
print('1.Boil water in a pot')
print('2.Add tea powder')
print('3.Let it simmer for a two minutes')
print('4.Add sugar if needed')
print('5.Add milk if needed')
print('6.Stir well')
print('7.Pour tea in to a cup')
print('8.Serve hot.')

How to make tea
1.Boil water in a pot
2.Add tea powder
3.Let it simmer for a two minutes
4.Add sugar if needed
5.Add milk if needed
6.Stir well
7.Pour tea in to a cup
8.Serve hot.

In [ ]:
#wear shoes
print('How to wear shoes')
print('1.Pick the correct pair of shoes')
print('2.Sit on a chair')
print('3.Hold one shoe in your hand')
print('4.Put your foot in to the shoes')
print('5.Adjust the heel properly')
print('6.Tie the laces or fasten straps')
print('7.Repeat for the other foot.')

How to wear shoes
1.Pick the correct pair of shoes
2.Sit on a chair
3.Hold one shoe in your hand
4.Put your foot in to the shoes
5.Adjust the heel properly
6.Tie the laces or fasten straps
7.Repeat for the other foot.

In [ ]:
#send wtzp msg
print('How to send a whatsapp message')
print('1.Open Whatsapp application')
print('2.Select a contact')
print('3.Tap on the chat box')
print('4.Type your message')
print('5.Press the send button.')

How to send a whatsapp message
1.Open Whatsapp application
2.Select a contact
3.Tap on the chat box
4.Type your message
5.Press the send button.

In [ ]:
apples = 45.5
banana = 20
rice = 55
milk = 30
wheat = 55.75
total = apples + banana + rice + milk + wheat
print('total cost is',total)

total cost is 206.25

In [ ]:
# 1. Rain or sunglasses
rain = input('enter true or false')
if rain:
    print("Take an umbrella")
else:
    print("Wear sunglasses")

enter true or falsetrue
Take an umbrella

In [ ]:
# 2. Pass or Fail
marks = int(input('enter the marks'))
if marks >= 40:
    print("Pass")
else:
    print("Fail")

enter the marks55
Pass

In [ ]:
# 3. Shopping bill discount
bill = int(input('enter the bill'))
if bill > 500:
    discount = bill * 0.10
    print("Discount =", discount)
else:
    print("No discount")

enter the bill650
Discount = 65.0

In [ ]:

# 4. Temperature check
temperature = int(input('enter the temperature'))
if temperature > 30:
    print("Too hot!")
else:
    print("Nice weather!")

enter the temperature32
Too hot!

In [ ]:
# 5. Age category
age = int(input('enter the age'))
if age < 13:
    print("Child")
elif age >= 13 and age <= 19:
    print("Teenager")
else:
    print("Adult")

enter the age19
Teenager

In [ ]:
# 6. Exam grades
marks = int(input('enter the marks'))
if marks >= 90:
    print("Grade A")
elif marks >= 75:
    print("Grade B")
elif marks >= 50:
    print("Grade C")
else:
    print("Fail")

enter the marks70
Grade C

In [ ]:
#write multiplication table
#without loop
num=int(input('enter the number'))
print(num,'x 1 =', num*1)
print(num*2)
print(num*3)
print(num*4)
print(num*5)
print(num*6)
print(num*7)
print(num*8)
print(num*9)
print(num*10)

enter the number5
5 x 1 = 5
10
15
20
25
30
35
40
45
50

In [ ]:
#with loop
num=int(input('enter the num'))
for i in range(1,11):
  print(num, 'x', i, '=',  num*i)

enter the num5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
#print even nos 0 to 20
i %2 == 0
for i in range(0,21,2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
#sharing chocolates with friends
friends=['arjun','mariam','vipin','abhijith']
for name in friends:
  print('chocolates given to',name)

chocolates given to arjun
chocolates given to mariam
chocolates given to vipin
chocolates given to abhijith

In [ ]:
#find highest mark in student mark list
#without inbuilt function
marks=[45,99,56,34,90,78,67,56]
highest=marks[0]
for i in marks:
  if i>highest:
    highest=i
    print(highest)

99

In [ ]:
#with inbuilt function
marks=[45,99,56,34,90,78,67,56]
print(max(marks))

99

In [ ]:
#find player with maximum marks
#without inbuilt function
scores={'virat':99,'maxwell':78,'dhoni':89,'sachin':88,'panth':78}
max_player=None
max_score=-1
for player,score in scores.items():
  if score>max_score:
    max_score=score
    max_player=player
    print(max_player, 'with', max_score)

virat with 99

In [ ]:
#with inbuilt function
scores={'sachin':88,'maxwell':78,'virat':99,'dhoni':89,'panth':78}
max_player=max(scores,key=scores.get)
print(max_player, 'with', scores[max_player])

virat with 99

In [ ]:
#area of the rectangle
def area(length,breadth):
  area=length*breadth
  return area
x=area(5,3)
print(x)

15

In [ ]:
#no even or odd
def number_even_odd(num):
  if num %2==0:
    return "even"
  else:
    return "odd"

num = int(input('enter the number'))
print(number_even_odd(num))

enter the number13
odd

In [ ]:
#square of a number
def square(num):
  square=num*num
  return square
num=int(input('enter the number'))
print(square(num))

enter the number50
2500