<a href="https://colab.research.google.com/github/thasliya0404/class-activity/blob/main/thasliya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#pstv,ngtv,zero
a=int(input('enter the number'))
if a>0:
  print('positive')
elif a<0:
  print('negative')
else:
  print('zero')

enter the number56
positive

In [ ]:
#odd or even
a=int(input('enter the number'))
if a%2==0:
  print('even')
else:
  print('odd')

enter the number67
odd

In [ ]:
#grade calculations
marks=int(input('enter the marks'))
if marks>=90 and marks<100:
  print('grade A')
elif marks>=80 and marks<89:
  print('grade B')
elif marks>=70 and marks<79:
  print('grade C')
elif marks>=60 and marks<69:
  print('grade D')
else:
  print('fail')

enter the marks67
grade D

In [ ]:
#leap yr checker
year=int(input('enter the year'))
if year%4==0:
  print('leap year')
else:
  print('not leap year')

enter the year2045
not leap year

In [ ]:
#print nos 1 to n
n=int(input('enter number '))
for i in range(1,n+1):
  print(i)

enter number n150
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150

In [ ]:
#sum of 1st n natural nos
n=int(input('enter number'))
sum=0
for i in range(1,n+1):
  sum=sum+i
  print(sum)

enter number10
1
3
6
10
15
21
28
36
45
55

In [ ]:
#multiplication table
num=int(input('enter number'))
for i in range(1,11):
  print(f'{num}*{i}={num*i}')

enter number11
11*1=11
11*2=22
11*3=33
11*4=44
11*5=55
11*6=66
11*7=77
11*8=88
11*9=99
11*10=110

In [ ]:
#factorial calculation
n=int(input('enter n'))
fact=1
for i in range(1,n+1):
  fact *=i
  print(fact)

enter n5
1
2
6
24
120

In [ ]:
#reversing a number
num=int(input('enter number'))
rev=int(str(num)[::-1])
print(rev)

enter number4567892
2987654

In [ ]:
#count digits in a number
num=int(input('enter number'))
print(len(str(num)))

enter number5678
4

In [ ]:
#right angled triangled triangle pattern
n=int(input('enter n'))
for i in range(1,n+1):
  print('*'*i)

enter n8
*
**
***
****
*****
******
*******
********

In [ ]:
#number pyramid pattern
n=int(input('enter n'))
for i in range(1,n+1):
  left=''.join(str(j) for j in range(1,i+1))
  right=''.join(str(j) for j in range(i-1,0,-1))
  print(left+right)

enter n5
1
121
12321
1234321
123454321

In [ ]:
#1st 5 odd nos using break
count=0
num=1
while True:
  if num%2 !=0:
    print(num)
    count +=1
    if count==5:
      break
  num +=1

1
3
5
7
9

In [ ]:
#skip multiples of 3
for i in range(1,21):
  if i % 3==0:
    continue
  print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20

In [ ]:
#pass statement example
for i in range(1,6):
  if i==3:
    pass
  print(i)

1
2
3
4
5

In [ ]:
#fibonacci series
n=int(input('enter n'))
a,b=0,1
print(a,b,end='')
for i in range(n-2):
  a,b=b,a+b
  print(b,end='')

enter n8
0 11235813

In [ ]:
#check for prime nos
n=int(input('enter n'))
for i in range(2,n):
  if n%2==0:
    print('not prime')
    break
  else:
    print('prime')

enter n6
not prime

In [ ]:
#sum of digits
n=int(input('enter n'))
sum=0
for i in str(n):
  sum +=int(i)
  print(sum)

enter n12345
1
3
6
10
15

In [ ]:
from string import digits
#amstrong check
n=int(input('enter n'))
power=len(str(n))
sum=0
temp=n
while temp>0:
  digit=temp%10
  sum +=digit**power
  temp //=10
if n==sum:
  print('amstrong')
else:
  print('not amstrong')

enter n123
not amstrong

In [ ]:
#reverse string using loops
s=input('enter string')
rev=''
for i in s:
  rev=i+rev
  print(rev)

enter stringhello
h
eh
leh
lleh
olleh

In [ ]:
#welcome message
name=input('enter name')
print(f'welcome to DSA, {name} !')

enter namethasliya
welcome to DSA, thasliya !

In [ ]:
#fav snack
fav_snack=input('enter fav snack')
print(f'I love munching on {fav_snack} during meetings !')

enter fav snackmunch
I love munching on munch during meetings !

In [ ]:
#team productivity
task_completed=15
exp_task=task_completed*2
print('expected task next week:',exp_task)

expected task next week: 30

In [ ]:
#movie nyt
frnds=10
popcorn_per_frnds=2
total_popcorn=frnds*popcorn_per_frnds
print('total popcorn:',total_popcorn)

total popcorn: 20

In [ ]:
#monthly budget
income=5000
expense=3000
savings=income-expense
print('savings:',savings)

savings: 2000

In [ ]:
#product review
rating=int(input('enter product rating 1-5 :'))
if rating>3:
  print('above average')
else:
  print('below average')

enter product rating 1-5 :3
below average

In [ ]:
#calculate avg sales
sales=[50,75,100]
total_sales = 0
for i in sales:
    total_sales += i
avg_sales = total_sales / len(sales)
print('average sales:',avg_sales)

average sales: 75.0

In [ ]:
#simple investment return
principal=500
rate=4
time=3
simple_interest=(principal*rate*time)/100
tot_amount=principal+simple_interest
print('total amount after 3 yrs:',tot_amount)

total amount after 3 yrs: 560.0

In [ ]:
#party planning
guests=10
slices_per_guest=1
slices_per_cake=8
cakes_needed=guests*slices_per_guest+slices_per_cake -1 // slices_per_cake
print('cakes needed:',cakes_needed)

cakes needed: 18

In [ ]:
#best selling product
product_A_sales=250
product_B_sales=300
if product_A_sales>product_B_sales:
  print('product A is sold more')
else:
  print('product B is sold more')

product B is sold more

In [ ]:
#text analysis
text='data is power'
if len(text)>10:
  print('long slogan')
else:
  print('short nd sweet')

long slogan

In [ ]:
#scholarship %
scholarship=750
total=1000
Percentage=(scholarship/total)*100
print(f'scolarship percentage:{Percentage}% congratulations !')

scolarship percentage:75.0% congratulations !

In [ ]:
#variable assignment
fav_color='red'
print('my favorite color is', fav_color)

my favorite color is red

In [ ]:
#basic arithmetic
a=10
b=20
print(a+b)

30

In [ ]:
#area of ractangle
length=10
width=5
area=length*width
print('area of rectangle:',area)

area of rectangle: 50

In [ ]:
#even or odd
n=15
print('even' if n%2==0 else 'odd')

odd

In [ ]:
#calculate avg
numbers=[10,20,30]
avg=sum(numbers)/len(numbers)
print('average:',avg)

average: 20.0

In [ ]:
#area of circle
radius=7
area=3.14 * radius**2
print('area of circle:',area)

area of circle: 153.86

In [ ]:
#check string length
text='python'
if len(text)>6:
  print('more than 6 characters')
else:
  print('less than 6 characters')

less than 6 characters

In [ ]:
#find max of 2 nos
num1=15
num2=25
print('maximum',max(num1,num2))

maximum 25

In [ ]:
#calculate %
total_marks=500
obtained_marks=400
percentage=(obtained_marks/total_marks)*100
print('percentage:',percentage)

percentage: 80.0

In [ ]:
#area of the circle
radius=float(input('enter radius'))
area=3.14*radius**2
print('area of circle:',area)

enter radius3
area of circle: 28.26

In [ ]:
name=input('enter name')
roll_no=input('enter roll no')
mark=input('enter mark')
print(f'name:{name}')
print(f'roll no:{roll_no}')
print(f'mark:{mark}')

enter namethasli
enter roll no25
enter mark88
name:thasli
roll no:25
mark:88

In [ ]:
#largest no in a list
numbers=[12,3,47,10]
largest=max(numbers)
print('largest no:',largest)

largest no: 47

In [ ]:
#sum of current and previous nos
start=1
end=10
previous=0
for current in range(start,end+1):
   sum=previous+current
   print(f'current:{current} previous:{previous} sum:{sum}')
   previous=current

current:1 previous:0 sum:1
current:2 previous:1 sum:3
current:3 previous:2 sum:5
current:4 previous:3 sum:7
current:5 previous:4 sum:9
current:6 previous:5 sum:11
current:7 previous:6 sum:13
current:8 previous:7 sum:15
current:9 previous:8 sum:17
current:10 previous:9 sum:19

In [ ]:
#nos divisible by 5
numbers=[10,20,33,46,55]
for i in numbers:
  if i%5==0:
    print(i)

10
20
55

In [ ]:
#prime no check
n=int(input('enter n'))
if n<2:
  print('not prime')
else:
  for i in range(2,n):
    if n%i==0:
      print('not prime')
    else:
      print('prime')

enter n3
prime

In [ ]:
#revrse using loop
list=[10,40,30,70]
reversed_list=[]
for i in range(len(list)-1,-1,-1):
  reversed_list.append(list[i])
print(reversed_list)

[70, 30, 40, 10]

In [ ]:
#simple star pattern
for i in range(1,5):
  print('*'*i)

*
**
***
****

In [ ]:
#max of 3 nos
a=34
b=12
c=7
print('maximum',max(a,b,c))

maximum 34

In [ ]:
#diamond-like pattern
n=5
for i in range(1,n+1):
  print('*'*i)
for i in range(n-1,0,-1):
  print('*'*i)

*
**
***
****
*****
****
***
**
*