<a href="https://colab.research.google.com/github/thasliya0404/class-activity/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in range(8):
  print(i)

0
1
2
3
4
5
6
7

In [3]:
for num in range(100,140,2):
    print(num)

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138

In [5]:
word='remote internship'
for char in word:
  print(char)

r
e
m
o
t
e

i
n
t
e
r
n
s
h
i
p

In [6]:
my_list=['anc','xyz','abc','dfg','rft','fgh','jkl']
for item in my_list:
  print(item)

anc
xyz
abc
dfg
rft
fgh
jkl

In [9]:
for i in range(len(my_list)):
  print(my_list[i])

anc
xyz
abc
dfg
rft
fgh
jkl

In [13]:
for item in my_list:
  if item=='dfg':
    print('I found dfg')
else:
  print(item)

I found dfg
jkl

In [14]:
my_dic={'name':'thasli','age':24,'course':'DSA','place':'TVM','food':'biriyani','game':'cricket','place':'goa'}
my_dic.keys()

dict_keys(['name', 'age', 'course', 'place', 'food', 'game'])

In [15]:
my_dic.items()

dict_items([('name', 'thasli'), ('age', 24), ('course', 'DSA'), ('place', 'goa'), ('food', 'biriyani'), ('game', 'cricket')])

In [18]:
for k,v in my_dic.items():
  print(f'my {k} is {v}')

my name is thasli
my age is 24
my course is DSA
my place is goa
my food is biriyani
my game is cricket

In [29]:
my_groc={'tomato':10,'carrot':40,'banana':30,'curd':20,'milk':25,'rice':50,'wheat':55}
my_budget = 150
my_list=[]
tot_price=0

for a,b in my_groc.items():
  if b < my_budget and tot_price+b <= my_budget:
    my_list.append(a)
    tot_price=tot_price+b
print(my_list)
print(tot_price)

['tomato', 'carrot', 'banana', 'curd', 'milk']
125

In [32]:
for x in range(1,100):
  print(f'{x} is divisible by 3 or 5: {x % 3 == 0 or x % 5 == 0}')

1 is divisible by 3 or 5: False
2 is divisible by 3 or 5: False
3 is divisible by 3 or 5: True
4 is divisible by 3 or 5: False
5 is divisible by 3 or 5: True
6 is divisible by 3 or 5: True
7 is divisible by 3 or 5: False
8 is divisible by 3 or 5: False
9 is divisible by 3 or 5: True
10 is divisible by 3 or 5: True
11 is divisible by 3 or 5: False
12 is divisible by 3 or 5: True
13 is divisible by 3 or 5: False
14 is divisible by 3 or 5: False
15 is divisible by 3 or 5: True
16 is divisible by 3 or 5: False
17 is divisible by 3 or 5: False
18 is divisible by 3 or 5: True
19 is divisible by 3 or 5: False
20 is divisible by 3 or 5: True
21 is divisible by 3 or 5: True
22 is divisible by 3 or 5: False
23 is divisible by 3 or 5: False
24 is divisible by 3 or 5: True
25 is divisible by 3 or 5: True
26 is divisible by 3 or 5: False
27 is divisible by 3 or 5: True
28 is divisible by 3 or 5: False
29 is divisible by 3 or 5: False
30 is divisible by 3 or 5: True
31 is divisible by 3 or 5: False
32 is divisible by 3 or 5: False
33 is divisible by 3 or 5: True
34 is divisible by 3 or 5: False
35 is divisible by 3 or 5: True
36 is divisible by 3 or 5: True
37 is divisible by 3 or 5: False
38 is divisible by 3 or 5: False
39 is divisible by 3 or 5: True
40 is divisible by 3 or 5: True
41 is divisible by 3 or 5: False
42 is divisible by 3 or 5: True
43 is divisible by 3 or 5: False
44 is divisible by 3 or 5: False
45 is divisible by 3 or 5: True
46 is divisible by 3 or 5: False
47 is divisible by 3 or 5: False
48 is divisible by 3 or 5: True
49 is divisible by 3 or 5: False
50 is divisible by 3 or 5: True
51 is divisible by 3 or 5: True
52 is divisible by 3 or 5: False
53 is divisible by 3 or 5: False
54 is divisible by 3 or 5: True
55 is divisible by 3 or 5: True
56 is divisible by 3 or 5: False
57 is divisible by 3 or 5: True
58 is divisible by 3 or 5: False
59 is divisible by 3 or 5: False
60 is divisible by 3 or 5: True
61 is divisible by 3 or 5: False
62 is divisible by 3 or 5: False
63 is divisible by 3 or 5: True
64 is divisible by 3 or 5: False
65 is divisible by 3 or 5: True
66 is divisible by 3 or 5: True
67 is divisible by 3 or 5: False
68 is divisible by 3 or 5: False
69 is divisible by 3 or 5: True
70 is divisible by 3 or 5: True
71 is divisible by 3 or 5: False
72 is divisible by 3 or 5: True
73 is divisible by 3 or 5: False
74 is divisible by 3 or 5: False
75 is divisible by 3 or 5: True
76 is divisible by 3 or 5: False
77 is divisible by 3 or 5: False
78 is divisible by 3 or 5: True
79 is divisible by 3 or 5: False
80 is divisible by 3 or 5: True
81 is divisible by 3 or 5: True
82 is divisible by 3 or 5: False
83 is divisible by 3 or 5: False
84 is divisible by 3 or 5: True
85 is divisible by 3 or 5: True
86 is divisible by 3 or 5: False
87 is divisible by 3 or 5: True
88 is divisible by 3 or 5: False
89 is divisible by 3 or 5: False
90 is divisible by 3 or 5: True
91 is divisible by 3 or 5: False
92 is divisible by 3 or 5: False
93 is divisible by 3 or 5: True
94 is divisible by 3 or 5: False
95 is divisible by 3 or 5: True
96 is divisible by 3 or 5: True
97 is divisible by 3 or 5: False
98 is divisible by 3 or 5: False
99 is divisible by 3 or 5: True

In [37]:
for x in range(1,100):
 if x%5==0 and x%3==0:
  print(x)

15
30
45
60
75
90

In [39]:
A=1
while A <10:
  print(A)
  A=A+2
else:
  print('you crossed the limit')

1
3
5
7
9
you crossed the limit

In [42]:
B=100
while B>0:
  B=B-20
  print("you can purchase")

else:
  print("you can't purchase")

you can purchase
you can purchase
you can purchase
you can purchase
you can purchase
you can't purchase

In [2]:
secret_no=26
your_no=int(input('you can guess my secret no'))

while secret_no !=your_no:
  print('wrong,try again')
  your_no=int(input('you can guess my secret no'))
else:
  print('correct,you win')

you can guess my secret no34
wrong,try again
you can guess my secret no567
wrong,try again
you can guess my secret no23
wrong,try again
you can guess my secret no26
correct,you win

In [6]:
import random
secret_no=15
guess_no= random.randint(10,20)

while secret_no !=guess_no:
  print('wrong,try again')
  guess_no= random.randint(10,20)
else:
  print('correct,you win')

wrong,try again
wrong,try again
wrong,try again
wrong,try again
wrong,try again
wrong,try again
wrong,try again
wrong,try again
wrong,try again
wrong,try again
wrong,try again
wrong,try again
wrong,try again
correct,you win

In [48]:
password=7576
user_attempt=int(input('enter the password'))
count=1
while password!=user_attempt:
  count=count+1
  user_attempt=int(input('enter the password'))
  if count==3:
   print('attempt exceed')
   break
else:
   print('successfully login')

enter the password1234
enter the password2345
enter the password7576
attempt exceed

In [47]:
password=1234
attempts=3
while attempts >0:
  userpass=int(input('enter ur password'))
  if userpass==password:
    print('login successfull')
    break
  else:
    attempts -=1
    print(f'{attempts} attempts left')
else:
  print('login failed')

enter ur password123445
2 attempts left
enter ur password4567
1 attempts left
enter ur password1234
login successfull

In [31]:
movies={'cid moosa':8,'adujeevitham':9,'thudarum':7,'bhramayugam':6,'sumathivalavu':5,'meesamadavan':4}
print('all movies and ratings')
for movie, rating in movies.items():
  print(f'{movie}:{rating}')

all movies and ratings
cid moosa:8
adujeevitham:9
thudarum:7
bhramayugam:6
sumathivalavu:5
meesamadavan:4

In [32]:
#update movie rating from 8 to 5 or 5 to 9
for movie in movies:
  if movies[movie]==8:
    movies[movie]=5
    if movies[movie]==5:
      movies[movie]=9
print('\nAfter updating ratings:')
for movie,rating in movies.items():
  print(f'{movie}:{rating}')

After updating ratings:
cid moosa:9
adujeevitham:9
thudarum:7
bhramayugam:6
sumathivalavu:5
meesamadavan:4

In [33]:
#add 2 new movies and their ratings to dictionary
movies['kgf']=9
movies['leo']=8
print('\nAfter updating ratings:')
for movie,rating in movies.items():
  print(f'{movie}:{rating}')

After updating ratings:
cid moosa:9
adujeevitham:9
thudarum:7
bhramayugam:6
sumathivalavu:5
meesamadavan:4
kgf:9
leo:8

In [34]:
#find the highest rated movies from the dict
max_rating=max(movies.values())
highest_rated=[movies for movie,rating in movies.items() if rating==max_rating]
print('\nHighest rated movies')
for movie in highest_rated:
  print(f'{movie}:{max_rating}')

Highest rated movies
{'cid moosa': 9, 'adujeevitham': 9, 'thudarum': 7, 'bhramayugam': 6, 'sumathivalavu': 5, 'meesamadavan': 4, 'kgf': 9, 'leo': 8}:9
{'cid moosa': 9, 'adujeevitham': 9, 'thudarum': 7, 'bhramayugam': 6, 'sumathivalavu': 5, 'meesamadavan': 4, 'kgf': 9, 'leo': 8}:9
{'cid moosa': 9, 'adujeevitham': 9, 'thudarum': 7, 'bhramayugam': 6, 'sumathivalavu': 5, 'meesamadavan': 4, 'kgf': 9, 'leo': 8}:9

In [35]:
#remove movies with rating below 5
movies={movie:rating for movie,rating in movies.items()if rating>=5}
print('\nAfter removing movies with rating below 5')
for movie, rating in movies.items():
  print(f'{movie}:{rating}')

After removing movies with rating below 5
cid moosa:9
adujeevitham:9
thudarum:7
bhramayugam:6
sumathivalavu:5
kgf:9
leo:8

In [51]:
def greet():
  print('hellow,welcome to kerala')

In [13]:
def greet():
 pass # pass meaning is skip
#greet()

In [10]:

def greet(name):
  print(f'hello {name}, welcome to the program')
greet('thasli')

hello thasli, welcome to the program

In [11]:
def greet(name):
  print(f'hello {name}, welcome to the program')
greet('thasli')
greet('juby')
greet('merin')
greet('shaliha')

hello thasli, welcome to the program
hello juby, welcome to the program
hello merin, welcome to the program
hello shaliha, welcome to the program

In [14]:
def greet(name,time):
  print(f'hello {name}, welcome to the program')
  print(f'your sesssion start at {time}')
greet('anandhu','3 pm')
greet('thasli','1 pm')
greet('thanzi','12 pm')

hello anandhu, welcome to the program
your sesssion start at 3 pm
hello thasli, welcome to the program
your sesssion start at 1 pm
hello thanzi, welcome to the program
your sesssion start at 12 pm

In [17]:
def greet(name,time='11 am'):#defult value function(argument )
  print(f'hello {name}, welcome to the program')
  print(f'your sesssion start at {time}')
greet('anandhu','3 pm')
greet('thasli','1 pm')
greet('thanzi','12 pm')
greet('iza')
greet('yasdhan')

hello anandhu, welcome to the program
your sesssion start at 3 pm
hello thasli, welcome to the program
your sesssion start at 1 pm
hello thanzi, welcome to the program
your sesssion start at 12 pm
hello iza, welcome to the program
your sesssion start at 11 am
hello yasdhan, welcome to the program
your sesssion start at 11 am

In [19]:
a=int(input('enter the no'))
b=int(input('enter the no'))
print(int(a*b))

enter the no12
enter the no10
120

In [22]:

def product(a,b):
 a=int(input('enter the no'))
 b=int(input('enter the no'))
 print(int(a*b))
product(a,b)

enter the no12
enter the no10
120

In [26]:
def product(a,b):
  a=int(input('enter a no'))
  b=int(input('enter 2nd no'))
  print(f'the product,{a}*{b}={a*b}')
product(a,b)

enter a no5
enter 2nd no9
the product,5*9=45

In [27]:
def multiply(a,b):
  product=a*b
  print(product)

num1=int(input('enter a no'))
num2=int(input('enter 2nd no'))
multiply(num1,num2)

enter a no12
enter 2nd no5
60

In [28]:
def bill(total):
  total_amount=total+0.1*total
  print(f'the amount to be paid is {total_amount}')
total=int(input('enter the amount'))
bill(total)

enter the amount400
the amount to be paid is 440.0

In [29]:
def bill(total):
  if total<500:
    a=total+0.1*total
    print(f'the amount to be paid is {a}')
  elif total>500 and total<1000:
    a=total+0.2*total
    print(f'the amount to be is {a}')
  else:
    a=total+0.3*total
    print(f'the amount to be paid is {a}')
total=int(input('enter the amount'))
bill(total)

enter the amount699
the amount to be is 838.8

In [43]:
num_list=[12,5,7,23,13,19,21,44,8]
def average_even(numberlist):
  even_list=[]
  odd_list=[]
  for num in numberlist:
    if num % 2 ==0:
      even_list.append(num)
    else:
      odd_list.append(num)
  averageeven =sum(even_list)/len(even_list)
  averageodd=sum(odd_list)/len(odd_list)
  print(even_list)
  print(averageeven)
  print(odd_list)
  print(averageodd)
average_even(num_list)

[12, 44, 8]
21.333333333333332
[5, 7, 23, 13, 19, 21]
14.666666666666666

In [47]:
# single * = tuple format , double ** = dict format

In [52]:
def sum_numbers(*args):  #arbitrary word argument
  print(type(args))
  total=0
  for i in args:
    total +=i
  print(total)
sum_numbers(7,8,9,6,5)

<class 'tuple'>
35

In [53]:
def print_info(**args):   #key word argument
  for item,val in args.items():
    print(type(args))
    print(f'{item} is {val}')
print_info(name='thasli',place='tvm',score=7)
print_info(name='thasli',place='tvm',batch='dsa')

<class 'dict'>
name is thasli
<class 'dict'>
place is tvm
<class 'dict'>
score is 7
<class 'dict'>
name is thasli
<class 'dict'>
place is tvm
<class 'dict'>
batch is dsa

In [54]:
def squareofnum(x):
  y=x*x
  print(y)
squareofnum(10)

100

In [55]:
square=lambda x : x*x
square(5)

25

In [56]:
add = lambda x,y : x+y
add(3,5)

8

In [63]:
def totalmark(marks):
  print(sum(marks))
  return(sum(marks))
finalscore=totalmark([10,20,30,40,50])
if finalscore>=90:
  print('grade A')
elif finalscore<89 and finalscore>=79:
  print('grade B')
else:
  print('grade F')

150
grade A

In [69]:
#oop (objected oriented programing)-security is higher
#basic term = 1 class-blueprint structure(set of code, it contains atributes=variables and methods=functions)
#2 object/Instance - to access the codes
#3 inheritance-
#4 polymorphism
#5 encapsulation
#6 abstaction

#oop (objected oriented programing)-security is higher
#basic term = 1 class-blueprint structure(set of code, it contains atributes=variables and methods=functions)
#2 object/Instance - to access the codes
#3 inheritance-
#4 polymorphism
#5 encapsulation
#6 abstaction

In [80]:
class Animal:
  animal_type='dog'
  num_legs=4
  mammals='yes'
  def sound(self):   #self is a key,distinguish users
    print('animal barks')
obj1=Animal()   #instance/object
obj1.sound()
print(obj1.animal_type)
obj2=Animal()
obj2.sound()
print(obj2.animal_type)

animal barks
dog
animal barks
dog

In [86]:
class person:
  place='tvm'
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def greet(self):
    return f'Hi myself {self.name} and my age is {self.age} and iam from {self.place}'
obj1=person('thasliya',24)
obj1.greet()

#obj2=person('twinkle',23)
#obj2.greet()

'Hi myself thasliya and my age is 24 and iam from tvm'

In [97]:
class employee:
  def __init__(self,name,emp_id,salary):
    self.name=name
    self.emp_id=emp_id
    self.salary=salary
  def display_info(self):
    print(f'name:{self.name}')
    print(f'employee id:{self.emp_id}')
    print(f'salary :{self.salary}')
class manager(employee):
  def __init__(self,name,emp_id,salary,dept,teamsize):
    super().__init__(name,emp_id,salary)
    self.dept=dept
    self.teamsize=teamsize
  def display_manager_info(self):
    self.display_info()
    print(f'department:{self.dept}')
    print(f'team size:{self.teamsize}')
emp1=employee('iza','12345',100000)
emp1.display_info()
manager1=manager('liya','75760',300000,'cs',15)
manager1.display_manager_info()
class teamlead(manager):
  def __init__(self,name,emp_id,salary,dept,teamsize,shift):
    super().__init__(name,emp_id,salary,dept,teamsize)
    self.shift=shift
  def display_teamlead_info(self):
    self.display_manager_info()
    print(f'shift:{self.shift}')
emp1=employee('iza','12345',100000)
emp1.display_info()
manager1=manager('liya','75760',300000,'cs',15)
manager1.display_manager_info()
teamlead1=teamlead('yasdu','51310',500000,'it',20,'day')
teamlead1.display_teamlead_info()

name:iza
employee id:12345
salary :100000
name:liya
employee id:75760
salary :300000
department:cs
team size:15
name:iza
employee id:12345
salary :100000
name:liya
employee id:75760
salary :300000
department:cs
team size:15
name:yasdu
employee id:51310
salary :500000
department:it
team size:20
shift:day