<a href="https://colab.research.google.com/github/thasliya0404/class-activity/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#1. Grocery Store Billing
#A grocery store wants to automate billing.
#● Take the names and prices of items from the user until they type "done".
#● Print the total bill.
#● If total bill > ₹500, apply 10% discount
total=0
while True:
  item = input('enter item names:')
  if item.lower()=='done':
    break
  price=float(input(f'enter the price of the {item}:'))
  total += price
print('total bill=',total)
if total>500:
  discount=total*0.10
  total -= discount
  print('10% discount applied:',discount)
print('final bill:',total)

enter item names:rice
enter the price of the rice:60
enter item names:rambuttan
enter the price of the rambuttan:300
enter item names:potato
enter the price of the potato:40
enter item names:tomato
enter the price of the tomato:40
enter item names:banana
enter the price of the banana:80
enter item names:apple
enter the price of the apple :200
enter item names:done
total bill= 720.0
10% discount applied: 72.0
final bill: 648.0

In [13]:
#2. Exam Result Calculator
#A school stores student marks in a list.
#● Input marks for 5 subjects.
#● Calculate percentage.
#● Print grade:
#○ ≥ 90: A
#○ ≥ 75: B
#○ ≥ 50: C
#○ else: Fail

marks=[]
for i in range(5):
  mark=float(input(f'enter the marks for subjects {i+1}:'))
  marks.append(mark)
percentage=sum(marks)*100/250
print('percentage',percentage)
if percentage>=90:
  grade='A'
elif percentage>=75:
  grade='B'
elif percentage>=50:
  grade='C'
else:
  grade='fail'
print('grade',grade)

enter the marks for subjects 1:45
enter the marks for subjects 2:44
enter the marks for subjects 3:46
enter the marks for subjects 4:43
enter the marks for subjects 5:37
percentage 86.0
grade B

In [19]:
#3. ATM Simulation
#Simulate an ATM with:
#● Starting balance = ₹1000
#● Options: Deposit, Withdraw, Check balance, Exit
#● Prevent withdrawal if funds are insufficient.
balance=1000
while True:
  print('\nATM menu:1.deposit 2.withdraw 3.check balance 4.exit')
  choice=int(input('enter your choice:'))
  if choice == 1:
    amount=float(input('enter deposit amount:'))
    balance +=amount
    print('current balance',balance)
  elif choice == 2:
    amount=float(input('enter withdraw amount:'))
    if amount>balance:
      print('insufficient balance')
    else:
      balance -=amount
      print('current balance',balance)
  elif choice == 3:
    2
    print('current balance:',balance)
  elif choice == 4:
    print('Thank you')
    break
  else:
    print('invalid choice,try again')

ATM menu:1.deposit 2.withdraw 3.check balance 4.exit
enter your choice:1
enter deposit amount:1000
current balance 2000.0

ATM menu:1.deposit 2.withdraw 3.check balance 4.exit
enter your choice:2
enter withdraw amount:1000
current balance 1000.0

ATM menu:1.deposit 2.withdraw 3.check balance 4.exit
enter your choice:2
enter withdraw amount:1000
current balance 0.0

ATM menu:1.deposit 2.withdraw 3.check balance 4.exit
enter your choice:1000
invalid choice,try again

ATM menu:1.deposit 2.withdraw 3.check balance 4.exit
enter your choice:2
enter withdraw amount:1000
insufficient balance

ATM menu:1.deposit 2.withdraw 3.check balance 4.exit
enter your choice:3
current balance: 0.0

ATM menu:1.deposit 2.withdraw 3.check balance 4.exit
enter your choice:4
Thank you

In [22]:
#4. Cricket Score Tracker
#Store player scores in a dictionary.
#● Add 5 players with scores.
#● Find and print top scorer’s name and score.
#● Update a player’s score after a match

scores={'sachin':88,'maxwell':78,'virat':99,'dhoni':89,'panth':78}
max_player=max(scores,key=scores.get)
print(max_player, 'with', scores[max_player])
player=input('enter player name to update score:')
new_score=int(input('enter new score:'))
scores[player]=new_score
print('updated score:',scores)

virat with 99
enter player name to update score:virat
enter new score:110
updated score: {'sachin': 88, 'maxwell': 78, 'virat': 110, 'dhoni': 89, 'panth': 78}

In [26]:
#5. Restaurant Order System
#● Menu stored in dictionary (item: price).
#● Take multiple orders from user.
#● Print final bill amount.
#● If order contains "Pizza", give ₹50 off
menu={'pizza':300,'burger':200,'pasta':250,'sandwich':100}
total=0
while True:
  order=input('enter order:')
  if order.lower()=='done':
    break
  if order in menu:
    total += menu[order]
  else:
    print('item not available')
if 'pizza' in menu:
  if total >= menu['pizza']:
     total -= 50
     print('50 rs discount applied on Pizza')
print('Final Bill Amount', total)

enter order:pizza
enter order:pasta
enter order:puffs
item not available
enter order:done
50 rs discount applied on Pizza
Final Bill Amount 500

In [27]:
#6. Temperature Conversion Tool
#Write a program that:
#● Asks user for temperature in Celsius.
#● Converts to Fahrenheit using formula:
celsius_temperature=float(input('enter your temperature in celsius:'))
fahrenheit_temperature=(celsius_temperature*9/5)+32
print('fahrenheit temperature:',fahrenheit_temperature)

enter your temperature in celsius:38.5
fahrenheit temperature: 101.3

In [34]:
#7. Online Shopping Cart
#● Create a cart as a list.
#● Allow user to add items, remove items, and view cart.
#● Exit when user types "checkout".
cart=[]
while True:
  action=input("enter 'add', 'remove', 'view':")
  if action == 'add':
    item=input('enter add item')
    cart.append(item)
  elif action == 'remove':
    item=input('enter remove item')
    cart.remove(item)
  elif action == 'view':
    print('shopping cart', cart)
    break
  else:
    print('invalid option')

enter 'add', 'remove', 'view':add
enter add itemcarrot
enter 'add', 'remove', 'view':add
enter add itemtomato
enter 'add', 'remove', 'view':add
enter add itempotato
enter 'add', 'remove', 'view':add
enter add itemrice
enter 'add', 'remove', 'view':add
enter add itemmilk
enter 'add', 'remove', 'view':remove
enter remove itemrice
enter 'add', 'remove', 'view':view
shopping cart ['carrot', 'tomato', 'potato', 'milk']

In [35]:
#8. Student Attendance Tracker
#● Store student names in a list.
#● Mark attendance as P or A.
#● Print the total number of present and absent students.
students=['liya','emin','yasdan','iza','tani']
attendance={}
for student in students:
    status = input(f'Mark attendance for {student} (P/A): ')
    attendance[student] = status.upper()

present = list(attendance.values()).count('P')
absent = list(attendance.values()).count('A')

print("Present Students:", present)
print("Absent Students:", absent)

Mark attendance for liya (P/A): P
Mark attendance for emin (P/A): P
Mark attendance for yasdan (P/A): A
Mark attendance for iza (P/A): A
Mark attendance for tani (P/A): P
Present Students: 3
Absent Students: 2

In [38]:
#9. Cinema Ticket Booking System
#Create a program where users can book movie tickets. A theater has 50 seats in total. Each
#ticket costs ₹120.
#● Ask the user how many tickets they want.
#● If enough seats are available → confirm booking and reduce available seats.
#● If not enough seats → show an error message.
#● Show remaining seats after each booking
seats=50
ticket_cost=120
tickets=int(input('enter no of seats:'))
if tickets<=seats:
  cost=ticket_cost*ticket_cost
  seats -= tickets
  print(f'Booking successful! Total = {cost}')
else:
  print('Not enough seats available')
  print('Remaining Seats:', seat)

enter no of seats:30
Booking successful! Total = 14400

In [39]:
#10. Bank Loan Eligibility Checker
#A bank provides loans only if:
#● Salary ≥ 25,000
#● Credit Score ≥ 650
#● Age between 21 and 60
#Ask the user for salary, credit score, and age, then decide if they are eligible.

salary = int(input("Enter your monthly salary: "))
credit_score = int(input("Enter your credit score: "))
age = int(input("Enter your age: "))

if salary >= 25000 and credit_score >= 650 and 21 <= age <= 60:
    print(' Eligible for Loan')
else:
    print(' Not Eligible for Loan')

Enter your monthly salary: 60000
Enter your credit score: 560
Enter your age: 24
 Not Eligible for Loan