<a href="https://colab.research.google.com/github/thasliya0404/class-activity/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
#1. Dataset: Monthly temperatures in a city (in °C): 12, 15, 14, 16, 18, 20, 22, 19,
#17, 15, 13, 10 Questions:
#a) Calculate the mean temperature.
#b) Calculate the median temperature.
#c) Find the mode of the temperature data.
#d) Range and Variance

temp=[12, 15, 14, 16, 18, 20, 22, 19,17, 15, 13, 10]
temp.sort()
print(temp)

[10, 12, 13, 14, 15, 15, 16, 17, 18, 19, 20, 22]

In [30]:
#mean
def mean(list8):
  mean=sum(list8)/len(list8)
  return(mean)
z=mean([12, 15, 14, 16, 18, 20, 22, 19,17, 15, 13, 10])
print(z)

15.916666666666666

In [31]:
#median
def median(temp):
  temp.sort()
  if len(temp)%2==0:
    mid1=temp[len(temp)//2]
    mid2=temp[len(temp)//2 -1]
    median=(mid1+mid2)/2
  else:
    median=temp[len(temp)//2]
  return(median)
b=median([12, 15, 14, 16, 18, 20, 22, 19,17, 15, 13, 10])
print(b)

15.5

In [32]:

#mode
def mode(temp):
  temp.sort()
  count={}
  for i in temp:
    if i in count:
      count[i]+=1
    else:
      count[i]=1
  max_count=1
  for a,b in count.items():
    if b>=max_count:
      max_count=b
  if max_count==1:
    mode=None
  else:
    mode=[key for key, value in count.items() if value==max_count]
  return (mode)
A=mode([12, 15, 14, 16, 18, 20, 22, 19,17, 15, 13, 10])
print(A)

[15]

In [33]:
data_range=max(temp)-min(temp)
print(data_range)

12

In [34]:
#variance
def variance(list1):
  list1.sort()
  w=0
  mean=sum(list1)/len(list1)
  for t in range(len(list1)):

    v=(list1[t]-mean)**2
    w=w+v
    variance=w/len(list1)
  return(variance)
c=variance([12, 15, 14, 16, 18, 20, 22, 19,17, 15, 13, 10])
print(c)

11.076388888888888

In [35]:
#2. Dataset: Heights of students (in cm): 150, 160, 165, 170, 155, 160, 162, 168
#Questions: a) Calculate the range of the heights.
#b) Calculate the variance of the heights.
#c) Standard Deviation
heights=[150, 160, 165, 170, 155, 160, 162, 168]
range2=max(heights)-min(heights)
print(range2)

20

In [36]:
#variance
x=variance(heights)
print(x)

38.1875

In [37]:
#standared_deviation
standared_deviation=x**0.5
print(standared_deviation)

6.179603547154137

In [38]:
#3. Dataset: Weekly expenses (in $): 200, 250, 300, 220, 270, 290, 310
#Questions: a) Calculate the standard deviation of the weekly expenses
weekly_expenses=[200, 250, 300, 220, 270, 290, 310]
y=variance(weekly_expenses)
sd=y**0.5
print(sd)

38.438925848782034

In [46]:
#4. Dataset: Advertising Spending (in $1000s): 10, 20, 15, 25, 30; Sales (in
#$1000s): 100, 150, 120, 180, 200
#Questions: a) Calculate the covariance between advertising spending and sales.
#b) Correlation
spend=[10, 20, 15, 25, 30]
sales=[10, 20, 15, 25, 30]
def covariance(spend1,sales1):
  s=0
  mean1=mean(spend1)
  mean2=mean(sales1)

  for i in range(len(spend1)):
    for j in range(len(sales1)):
      if i==j:
        p=spend1[i]-mean1
        q=sales1[j]-mean2
        s=s+p*q
  covariance=s/len(spend1)
  return(covariance)
C=covariance([10, 20, 15, 25, 30],[10, 20, 15, 25, 30])
print(C)

50.0

In [41]:
def correlation(spend,sales):
  s=0
  mean1=mean(spend)
  mean2=mean(sales)
  variance1=variance(spend)
  variance2=variance(sales)
  sd1=(variance1)**0.5
  sd2=(variance2)**0.5
  for i in range(len(spend)):
    for j in range(len(sales)):
      if i==j:
        p=spend[i]-mean1
        q=sales[j]-mean2
        s=s+p*q
  covariance=s/len(spend)
  correlation=covariance/(sd1*sd2)
  return(correlation)
k=correlation([10, 20, 15, 25, 30],[10, 20, 15, 25, 30])
print(k)

0.9999999999999999

In [48]:
#5. Dataset: Study Hours: 2, 4, 6, 8, 10; Exam Scores: 55, 60, 65, 70, 75
#Questions: a) Calculate the correlation coefficient between study hours and exam
#scores.
#b) Interpret the result.
#c) Quartiles and IQR.
def correlation_coefficient(list10,list11):
  x=0
  mean10=mean(list10)
  mean11=mean(list11)
  variance10=variance(list10)
  variance11=variance(list11)
  standard_deviation10=variance10 ** 0.5
  standard_deviation11=variance11 ** 0.5
  x=0
  for i in range(len(list10)):
    for j in range(len(list11)):
      if i==j:
        p=list10[i]-mean10
        y=list11[j]-mean11
        x=x+p*y
  cov=x/len(list10)
  correlation=cov/(standard_deviation10*standard_deviation11)
  return correlation
l=correlation_coefficient([2, 4, 6, 8, 10],[55, 60, 65, 70, 75])
print(l)

0.9999999999999998

In [49]:
print('0.99999999999998 is very clode to +1, so it is positive correlated.')

0.99999999999998 is very clode to +1, so it is positive correlated.

In [53]:
#quartiles and IQR
import statistics as stats
list10=[2, 4, 6, 8, 10]
list11=[55, 60, 65, 70, 75]
quartiles=stats.quantiles(list10,n=4)
print(stats.quantiles(list10,n=4))
print(stats.quantiles(list11,n=4))
print(stats.quantiles(list10,n=4)[2]-stats.quantiles(list10,n=4)[0])
print(stats.quantiles(list11,n=4)[2]-stats.quantiles(list11,n=4)[0])

[3.0, 6.0, 9.0]
[57.5, 65.0, 72.5]
6.0
15.0

In [55]:
#6. Dataset: Monthly savings (in $): 200, 300, 400, 500, 600, 700, 800, 900, 1000,
#1100 Questions: a) Calculate the first quartile (Q1) and third quartile (Q3).
#b) Calculate the interquartile range (IQR).
#c) Detecting Outliers
import statistics as stats
list12=[ 200, 300, 400, 500, 600, 700, 800, 900, 1000,1100]
quartiles=stats.quantiles(list12,n=4)
print('Q1 is',quartiles[0])
print('Q3 is',quartiles[2])
print('IQR is',stats.quantiles(list12,n=4)[2]-stats.quantiles(list12,n=4)[0])

Q1 is 375.0
Q3 is 925.0
IQR is 550.0

In [63]:

IQR=stats.quantiles(list12,n=4)[2]-stats.quantiles(list12,n=4)[0]
j=[]
upperbound = quartiles[2] + 1.5*IQR
lowerbound = quartiles[0] - 1.5*IQR
for i in list12:
  if i > upperbound or i < lowerbound:
      j.append(i)
print(j)

[]

In [65]:
#7. Dataset: Ages of employees: 22, 25, 28, 30, 35, 40, 45, 50, 55, 100
#Questions: a) Identify any outliers using the IQR method.
list13=22, 25, 28, 30, 35, 40, 45, 50, 55, 100
quartiles=stats.quantiles(list13,n=4)
IQR=stats.quantiles(list13,n=4)[2]-stats.quantiles(list13,n=4)[0]
h=[]
upperbound = quartiles[2] + 1.5*IQR
lowerbound = quartiles[0] - 1.5*IQR
for i in list13:
  if i > upperbound or i < lowerbound:
      h.append(i)
print(h)

[100]

In [80]:
#8. Dataset: Observed frequencies of customer preferences for three products:
#Product A: 50, 55, 60
#Product B: 30, 25, 35
#Product C: 20, 20, 25
#Questions: a) Perform a chi-square test to determine if there is a significant
#difference in customer preferences among the three products. b) Hypothesis
#Testing

l=[[50, 55, 60],
   [30, 25, 35],
   [20, 20, 25]]
a=0
c=0
row_sum=[]
for i in l:
  for j in i:
    c=c+j
print(c)
for i in l:
  for j in i:
    a=a+j
  row_sum.append(a)
  a=0
print(row_sum)
s=0
col_sums=[]
for col in range(len(l[0])):   # loop over columns
    s = 0
    for row in range(len(l)):  # loop over rows
        s= s + l[row][col]
    col_sums.append(s)

print( col_sums)
p=[]
for i in row_sum:
  E=[]
  for j in col_sums:
    e=i*j/c
    E.append(e)
  p.append(E)
print(p)
g=0
for i in range (len(l)):
  for j in range (len(p)):
    o=l[i][j]
    e=p[i][j]
    chi=(o-e)**2/e
    chi_sq=g+chi
print(chi_sq)
print((len(row_sum)-1)*(len(col_sums)-1))
critical_value=9.488 #from chi-square table df=4 and alpha=0.05
if chi_sq>critical_value:
  print("Reject H0 (No difference)")
else:
  print("Accept H0")

320
[165, 90, 65]
[100, 100, 120]
[[51.5625, 51.5625, 61.875], [28.125, 28.125, 33.75], [20.3125, 20.3125, 24.375]]
0.016025641025641024
4
Accept H0

In [86]:
#9. Dataset: Sample weights (in kg) of a new diet program: 70, 68, 72, 71, 69, 73,
#72, 74, 70, 71 Questions: a) Test the hypothesis that the mean weight after the
#diet program is equal to 70 kg at a 5% significance level. b) Z-Scores
weight=[70, 68, 72, 71, 69, 73,72, 74, 70, 71]
Pop_mean=70
critical=2.262
h0="weight is 70 - accept null hypotheis"
h1="weight is not 70 - reject null hypothesis"
def mean(list8):
  mean=sum(list8)/len(list8)
  return(mean)

mean9=mean(weight)
sum9=0
for p in weight:
  sum9=sum9+(p-mean9)**2
s=(sum9/(len(weight)-1))**0.5
t=(mean9-Pop_mean)/(s/(len(weight))**0.5)
if abs(t)>critical:
  print(h1)
else:
  print(h0)

weight is 70 - accept null hypotheis

In [71]:
def z(list15):
  initial=0
  r=[]
  sum15=0
  for i in list15:
    sum15=sum15+i
  mean15=sum15/len(list15)
  for j in list15:
    sum1=(j-mean15)**2
    initial=initial+sum1
  var=initial/len(list15)
  sd=var**0.5
  for k in list15:
    sum3=(k-mean15)/sd
    r.append(sum3)
  return r
h=z([ 70, 68, 72, 71, 69, 73, 72, 74, 70, 71])
print('z is',h)

z is [-0.5773502691896258, -1.7320508075688774, 0.5773502691896258, 0.0, -1.1547005383792517, 1.1547005383792517, 0.5773502691896258, 1.7320508075688774, -0.5773502691896258, 0.0]

In [70]:
#10. Dataset: Annual salaries of employees (in $1000s): 40, 42, 45, 47, 50, 52, 55,
#57, 60, 62 Questions: a) Calculate the z-scores for each salary.
#b) Interpret the z-scores.
#c) Normal Distribution
def z(list14):
  initial=0
  r=[]
  sum14=0
  for i in list14:
    sum14=sum14+i
  mean14=sum14/len(list14)
  for j in list14:
    sum1=(j-mean14)**2
    initial=initial+sum1
  var=initial/len(list14)
  sd=var**0.5
  for k in list14:
    sum3=(k-mean14)/sd
    r.append(sum3)
  return r
h=z([40, 42, 45, 47, 50, 52, 55,57, 60, 62 ])
print('z is',h)
print('positive Z scores are above the mean and the negative Z scores are below the mean')
for i in range(len(h)):
  if h[i] <0:
    print('below the average salary')
  elif h[i]>0:
    print('above the average salary')
  else:
    print('exact average salary')

z is [-1.5403080924308108, -1.2602520756252087, -0.8401680504168059, -0.5601120336112039, -0.14002800840280097, 0.14002800840280097, 0.5601120336112039, 0.8401680504168059, 1.2602520756252087, 1.5403080924308108]
positive Z scores are above the mean and the negative Z scores are below the mean
below the average salary
below the average salary
below the average salary
below the average salary
below the average salary
above the average salary
above the average salary
above the average salary
above the average salary
above the average salary

In [85]:
#normal distribution
import statistics
list14=[40, 42, 45, 47, 50, 52, 55,57, 60, 62 ]
mean = statistics.mean(list14)
sd = statistics.pstdev(list14)
sigma1=[x for x in list14 if (mean - sd) <= x <= (mean + sd)]
sigma2=[x for x in list14 if (mean - 2*sd) <= x <= (mean + 2*sd)]
print(f"Mean = {mean:.2f}, Standard Deviation = {sd:.2f}")
print(f"Salaries within plus or minus 1 sigma: {sigma1} → {len(sigma1)} out of {len(list14)}")
print(f"Salaries within plus or minus 2 sigma: {sigma2} → {len(sigma2)} out of {len(list14)}")

Mean = 51.00, Standard Deviation = 7.14
Salaries within plus or minus 1 sigma: [45, 47, 50, 52, 55, 57] → 6 out of 10
Salaries within plus or minus 2 sigma: [40, 42, 45, 47, 50, 52, 55, 57, 60, 62] → 10 out of 10